

.tweets {
    border: 2px solid #6600cc;
    box-shadow: 5px 3px 0px black ;
    margin: 20px 20%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(226, 241, 254);
  }

  section {
    margin: 0rem 4rem;
    font-size: 1.25rem;
  }

  .container {
    border: 2px solid #6600cc;
    box-shadow: 5px 3px 0px black ;
    margin: 4% 20%;
    border-radius: 5px;
  }